.container {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-rows: 8fr 1fr;
}

.projects {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.content {
  place-self: center;
  padding: min(5%, 2rem);
  width: 80%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_heading > h2 {
  font-size: var(--fs-heading);
}
.content_heading > h3 {
  font-size: var(--fs-350);
  color: var(--clr-primary-100-9);
}

.content_paragraph {
  text-align: justify;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.content_navigations {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.content_navigations > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code_btn {
  display: flex;
  align-items: center;
  gap: 1vmin;
  cursor: pointer;
}
.code_btn:hover,
.code_btn:focus {
  outline: none;
  color: var(--clr-primary-100-5);
  text-decoration: underline;
}
.content_navigations > div > div > *:first-child {
  font-size: var(--fs-350);
}

.content_navigations > div > button:not(.code_btn) {
  width: 40%;
}
.content_navigations button:not(.code_btn) {
  border-radius: 1vmin;
  color: var(--clr-primary-100-9);
  background-color: var(--clr-primary-100-2);
  transition: outline-offset 100ms ease-in-out;
}
.content_navigations button:not(.code_btn):focus,
.content_navigations button:not(.code_btn):hover {
  outline: 1px solid var(--clr-primary-100-5);
  outline-offset: 4px;
}

/* If button link doesn't start with http then show disable cursor */
.blog_btn > a:not([href^="http"]),
.live_btn > a:not([href^="http"]),
.code_btn > a:not([href^="http"]) {
  cursor: not-allowed;
}

.blog_btn > a,
.live_btn > a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 1vmin;
  border-radius: inherit;
}

.primary_navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.primary_navigation > button {
  display: flex;
  align-items: center;
}
.primary_navigation > button:hover,
.primary_navigation > button:focus {
  text-decoration: underline;
  outline: none;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container img {
  padding: min(5%, 2rem);
  filter: drop-shadow(2px 2px 2px var(--clr-primary-100));
}

.scroll_text_container {
  --scroll-time: 15s;
  --gap: 1rem;
  position: relative;
  display: flex;
  font-size: 450%;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.scroll_text {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--scroll-time) infinite linear;
}

.scroll_text_container:hover > .scroll_text {
  /* animation: scroll reverse calc(var(--scroll-time) - 10s) infinite linear; */
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .scroll_text {
    animation: none;
  }
}

@media screen and (max-width: 50em) {
  .container {
    height: auto;
    min-height: 100%;
    grid-template-rows: 1fr;
  }
  .projects {
    --columns: 1;
  }
  .content {
    width: 90%;
  }
  .scroll_text {
    display: none;
  }
}
