.loading {
  position: absolute;
  width: max-content;
  height: 70%;
  display: flex;
  gap: 0.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading > span {
  --animation-time: 1s;

  margin: auto;
  width: 0.25rem;
  background-color: var(--clr-primary-100-5);
  border-radius: 100vw;
  animation: loader var(--animation-time) infinite alternate forwards
    ease-in-out;
}
.loading > span:first-child,
.loading > span:last-child {
  height: 50%;
}
.loading > span:nth-child(2),
.loading > span:nth-child(4) {
  height: 75%;
  animation-delay: calc(var(--animation-time) / 3);
}

.loading > span:nth-child(3) {
  height: 100%;
  animation-delay: calc(var(--animation-time) * 2 / 3);
}

@keyframes loader {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
