.main {
  --columns: 2;
  padding: 1rem;

  min-height: 100%;
  isolation: isolate;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media screen and (max-width: 50em) {
  .main {
    --columns: 1;
    gap: 5rem;
  }
}
