.main {
  min-height: 100%;
  isolation: isolate;
  gap: 1rem;

  position: fixed;
  min-width: 100%;
}

.main > section {
  position: absolute;
}
.nav > nav {
  position: fixed;
}
.nav > nav::after {
  content: "";
  display: none;
}

@media screen and (width <= 50em) {
  .container {
    height: 100%;
    display: none;
  }
  .main {
    display: grid;
    grid-auto-columns: 100vw;
    grid-template-rows: 1fr;
    max-width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .main::-webkit-scrollbar {
    display: none;
  }
  .main > section {
    scroll-snap-align: center;
    grid-row: 1;
    grid-column: auto;
  }
}
