.container {
  height: 1000%;
  position: absolute;
  inset: 0;
}
.main {
  min-height: 100%;
  isolation: isolate;
  gap: 1rem;

  position: fixed;
  min-width: 100%;
}
.main::-webkit-scrollbar {
  display: none;
}
.main > section {
  position: absolute;
}
.nav > nav {
  position: fixed;
}
.nav > nav::after {
  content: "";
  display: none;
}

.main > section:first-child button[data-function="prev"],
.main > section:last-child button[data-function="next"] {
  display: none;
}

.main > section:first-child div:has(button[data-function="prev"]),
.main > section:last-child div:has(button[data-function="next"]) {
  justify-content: center;
}

@media screen and (width <= 50em) {
  .container {
    height: 100%;
  }
  .main {
    position: relative;
    display: grid;
  }
  .main > section {
    position: relative;
  }
}
