---
import Contact from "@/components/contact/contact.astro"
import H1 from "@/components/ui/typography/H1.astro"
import ContactForm from "@/components/contact/contact-form"
import MainLayout from "@/layouts/main-layout.astro"
---

<MainLayout>
  <Fragment slot="head">
    <title>Contact</title>
    <meta
      name="description"
      content="Contact me via socials or send me an email!"
    />
  </Fragment>
  <main class="min-h-screen flex justify-center items-center md:-my-24">
    <div class="container mx-auto grid md:grid-cols-2 gap-12 md:gap-0">
      <Contact />
      <div class="flex flex-col gap-8 w-4/5 mx-auto">
        <H1>Contact Me</H1>
        <ContactForm client:load />
      </div>
    </div>
  </main>
</MainLayout>
