---
import MainLayout from "../layouts/main-layout.astro";
import Home from "@/components/home.astro";
import TechStack from "@/components/tech-stack.astro";
import Projects from "@/components/projects.astro";
import Experience from "@/components/experience.astro";
import Talks from "@/components/talks.astro";
import Achievements from "@/components/achievements.astro";
import Contact from "@/components/contact.astro";
import FeaturedBlogs from "@/components/featured-blogs.astro";

export type SearchParamsType = { [key: string]: string | string[] | undefined };
---

<MainLayout
  title="Deveesh Shetty | Frontend Developer"
  description="Frontend Developer with a passion for building beautiful and functional web applications. Check out my portfolio to see my work."
>
  <div class="container mx-auto max-w-7xl px-4 sm:px-8 md:px-16 lg:px-24">
    <Home />
    <TechStack />
    <Talks />
    <Experience />
    <Projects />
    <FeaturedBlogs />
    <Achievements />
    <Contact />
  </div>
</MainLayout>
