.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-rows: 3fr 4fr;

  width: min(75%, 25rem);
  aspect-ratio: 2 / 3;
  background-color: var(--clr-primary-100-2);
  outline: 2px solid var(--clr-primary-100-5);
  border-radius: 1rem;
}

.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image > img {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card_content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.card_content > div:has(h2) {
  text-align: center;
}

.card_content > div > h2 {
  font-size: var(--fs-400);
  text-transform: uppercase;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  gap: 1rem;
}

.socials > div {
  display: flex;
  width: 80%;
  height: 15%;
  border-radius: 1rem;
  background-color: var(--clr-primary-100-2);
  outline: 2px solid var(--clr-primary-100-5);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.socials > div > a {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: inherit;
  gap: 1rem;
  width: 100%;
}

.socials > div:hover {
  background-color: var(--clr-primary-100-5);
  outline: 2px solid var(--clr-primary-100-2);
}

@media screen and (width <= 50em) {
  .card {
    width: 90%;
  }
  .card_content {
    font-size: var(--fs-text);
  }
}
