@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(100rem);
}

.card {
  --clr-1: #8360c3;
  --clr-2: #5890aa;
  --clr-3: #2ebf91;

  display: grid;
  grid-template-rows: 3fr 4fr;

  position: relative;
  width: min(75%, 25rem);
  aspect-ratio: 2 / 3;
  background-color: #131313;
  outline: 2px solid v ar(--clr-primary-100-5);
  border-radius: 1rem;
  background-color: var(--clr-1);

  --rx: 0;
  --ry: 0;
  --bx: 50%;
  --by: 80%;

  transform: scale3d(1.01, 1.01, 1.01) rotateX(calc(var(--rx) * 1deg))
    rotateY(calc(var(--ry) * 1deg));
  transition: transform 200ms ease-in;
}

.card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  border-radius: calc(1rem + 0.5rem);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1)
  );
  z-index: -1;
  filter: blur(3rem);
  animation: rotate-gradient 5s infinite linear;
}

@keyframes rotate-gradient {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image > img {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card_content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.card_content > div:has(h2) {
  text-align: center;
}

.card_content > div > h2 {
  font-size: var(--fs-400);
  text-transform: uppercase;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  gap: 1rem;
}

.socials > div {
  display: flex;
  width: 80%;
  height: 15%;
  border-radius: 1rem;
  background-color: var(--clr-primary-100-2);
  outline: 2px solid var(--clr-primary-100-5);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.socials > div > a {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: inherit;
  gap: 1rem;
  width: 100%;
}

.socials > div:hover {
  background-color: var(--clr-primary-100-5);
  outline: 2px solid var(--clr-primary-100-2);
}

@media screen and (width <= 50em) {
  .card {
    width: 90%;
  }
  .card_content {
    font-size: var(--fs-text);
  }
}
