.container {
  padding: 3rem 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.heading > h2 {
  font-size: var(--fs-heading);
}
.heading > h3 {
  font-size: var(--fs-300);
  text-align: center;
}

.card_container {
  margin: 4rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
}

.card {
  display: flex;
  gap: 1rem;
}

.card > img {
  width: 100%;
  max-width: 10rem;
  max-height: 100%;
  cursor: pointer;
  display: block;
}

.card_title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: start;
}

.card_body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.card_body > p {
  text-align: justify;
}

.activity_container {
  --columns: 2;

  padding: 3rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 0rem 1rem;
}

.activity_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activity_card > img {
  max-width: 20rem;
  display: block;
  margin-inline: auto;
}

.activity_card_body {
  margin-block: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activity_card_body .link {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link[target="_blank"]::after {
  content: " ↗";
}

@media screen and (min-width: 75em) {
  .activity_card {
    flex-direction: row;
  }
}

@media screen and (max-width: 50em) {
  .card_container {
    margin: 3rem 1rem;
    grid-template-columns: 1fr;
  }
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card_body > h2 {
    text-align: center;
  }
  .activity_container {
    --columns: 1;
    padding: 0;
  }
  .activity_card {
    flex-direction: column;
  }
}
