---
import { icons } from "@/lib/icons";
import { Icon } from "astro-icon/components";
import Button from "@/components/ui/button";
import { Image } from "astro:assets";
import { siteConfig } from "@/config/site";
---

<nav
  class="fixed backdrop-blur-sm z-50 flex w-full items-center py-4 border-b border-b-gray-800 shadow-[0_0_120px_80px_rgba(0,0,0,0.1)] shadow-gray-700/10"
>
  <div
    class="container mx-auto lg:px-48 md:px-24 px-8 flex items-center justify-between"
  >
    <div>
      <a href="/" class="text-xl hover:text-gray-200">
        <Image src={siteConfig.logo} alt="" width={36} height={36} />
      </a>
    </div>
    <ul class="flex items-center gap-4 justify-end text-lg">
      <Button client:load asChild>
        <a href="/blog" class="flex items-center gap-2">
          <Icon name={icons.Blog} />
        </a>
      </Button>
      <Button client:load asChild>
        <a href="/art-gallery" class="flex items-center gap-2">
          <Icon name={icons.Palette} />
        </a>
      </Button>
    </ul>
  </div>
</nav>
