---
import Container from "@/components/ui/sections/container.astro";
import { icons } from "@/lib/icons";
import { Icon } from "astro-icon/components";
---

<Container title="Tech Stack">
  <div class="space-y-3">
    <p class="flex items-center gap-2">
      I write <a
        href="https://www.typescriptlang.org/docs/"
        target="_blank"
        class="transition-colors"
        ><Icon
          name={icons.TypeScript}
          size={28}
          title="TypeScript"
          class="hover:text-zinc-200 transition-colors"
        /></a
      > with
      <span class="flex items-center gap-2">
        <a
          href="https://nextjs.org/docs"
          target="_blank"
          class="hover:text-zinc-200 transition-colors"
          ><Icon name={icons.NextJs} size={28} title="Next.js" /></a
        >
        <a
          href="https://tailwindcss.com/docs"
          target="_blank"
          class="hover:text-zinc-200 transition-colors"
          ><Icon name={icons.Tailwind} size={28} title="Tailwind" /></a
        >
        <a
          href="https://react.dev/reference/react"
          target="_blank"
          class="hover:text-zinc-200 transition-colors"
          ><Icon name={icons.React} size={28} title="React" /></a
        >
      </span>
    </p>
  </div>
</Container>
