---
import { cn } from "@/lib/helpers"

interface Props {
  className?: string
}

const { className, ...props } = Astro.props
---

<h1
  class={cn(
    "text-4xl md:text-5xl border-b pb-2 mb-2 border-b-gray-700 font-bold",
    className
  )}
  {...props}
>
  <slot />
</h1>
