.container {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.container > div:has(h1) {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > div > h1 {
  font-size: var(--fs-heading);
}
.container > div > h2 {
  font-size: var(--fs-350);
  text-align: center;
}

.art_container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0.5rem;

  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-rows: 22.5em; /* size for implicit rows */
  grid-auto-flow: dense; /*fills the blank spaces*/
}

.art_container > div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.art_container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  scale: 1.1;
  transition: scale 500ms ease-in-out;
}

.art_container > div::after {
  content: attr(data-content);
  position: absolute;
  inset: 0;
  background-color: var(--clr-primary-900-4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5%;
  text-align: center;
  font-size: var(--fs-350);
  color: var(--clr-primary-100);
  transition: opacity 500ms ease-in-out;
}

.art_container > div:hover::after {
  opacity: 1;
}

.art_container > div:hover > img {
  scale: 1.15;
}

.art_container > div:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.art_container > div:nth-child(4) {
  grid-column: span 2;
}

.art_container > div:nth-child(11) {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (width <= 50em) {
  .container {
    padding: 0.5rem;
  }

  .art_container {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: auto;
  }

  .container > div:has(h1) {
    padding-block: 1rem;
  }

  .container > div > h2 {
    font-size: var(--fs-300);
  }
}
